GestionDeClubs/.vs/GestionDeClubs/v15/Server/sqlite3/storage.ide-wal
GestionDeClubs/.vs/GestionDeClubs/v15/Server/sqlite3/storage.ide-shm
GestionDeClubs/.vs/GestionDeClubs/v15/Server/sqlite3/storage.ide
**.suo
GestionDeClubs/.vs/GestionDeClubs/v15/Server/sqlite3/storage.ide-shm
GestionDeClubs/GestionDeClubs.Tests/obj/Debug/**
GestionDeClubs/.vs/GestionDeClubs/v15/Server/sqlite3/storage.ide-shm
GestionDeClubs/.vs/GestionDeClubs/v15/Server/**
GestionDeClubs/.vs/**


GestionDeClubs/GestionDeClubs\.Tests/bin/Debug/GestionDeClubs\.dll

GestionDeClubs/GestionDeClubs\.Tests/bin/Debug/GestionDeClubs\.pdb

GestionDeClubs/GestionDeClubs\.Tests/bin/Debug/GestionDeClubs\.Tests\.dll

GestionDeClubs/GestionDeClubs\.Tests/bin/Debug/GestionDeClubs\.Tests\.pdb

GestionDeClubs/GestionDeClubs/bin/GestionDeClubs\.dll

GestionDeClubs/GestionDeClubs/bin/GestionDeClubs\.pdb

GestionDeClubs/GestionDeClubs/Model1\.Designer\.cs

GestionDeClubs/GestionDeClubs/Model1\.edmx

GestionDeClubs/GestionDeClubs/obj/Debug/edmxResourcesToEmbed/Model1\.csdl

GestionDeClubs/GestionDeClubs/obj/Debug/edmxResourcesToEmbed/Model1\.msl

GestionDeClubs/GestionDeClubs/obj/Debug/edmxResourcesToEmbed/Model1\.ssdl

GestionDeClubs/GestionDeClubs/obj/Debug/GestionDeClubs\.dll

GestionDeClubs/GestionDeClubs/obj/Debug/GestionDeClubs\.pdb

GestionDeClubs/GestionDeClubs/obj/Debug/TempPE/Model1\.Context\.cs\.dll

GestionDeClubs/GestionDeClubs/obj/Debug/TempPE/Model1\.cs\.dll

GestionDeClubs/GestionDeClubs/obj/Debug/TempPE/Model1\.Designer\.cs\.dll
